.photos__like-button {
    width: 21.76px;
    height: 19.3px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    padding: 0;
    background-image: url(../../../images/like.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.photos__like-button:hover {
    opacity: 0.8;
}